
@media screen and (max-width:992px) {
    .first-content{
        display: none;
    
    }
    .header-menu ul{
        display:none
    }
    .hamburger-icon{
        display: block;
        
    }
    .hamburger-icon-img{
        width:5%;
        cursor: pointer;
    }
    .responsive-navigation{
        width:190px;
        height: 100vh;
        display:block;
        position: absolute;
        top:0%;
        right:100%;
        z-index: 1;
        background-color:black;
        opacity: 0.75!important; 
        display: none;
        
    }
    .responsive-navigation ul{ 
        width:80%;
        height:100%;
        display:block;
        padding: 0px;
    }

    .responsive-navigation ul li{
        width:43%;
        list-style: none;
        padding: 31px 0px 23px 15px;


    }
    .container{
        width:99%;
        position: absolute;
        top: 30px;
        

    }
    .responsive-header-menu-item-link{
        width:200%;
        display:block;
        text-decoration: none;
        color:white;
        font-size: 2vw;
        font-weight: bold;
        font-style: normal;
        line-height: 1.75em;

    }
    .responsive-header-menu-item-link:hover{
        color:#fff;
        transition:color .4s ease-in-out;
    }
    .back-container{
        position: absolute;
        right:0px;
        left:0px;
        top:0px;
        bottom: 0px;
        
    }
    .content{
        display:none;
    }
    .res-content{
        display: block;
    }
    .res-my-pic{
        border-radius: 170px;
        border: 15px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 130px;
        left: 175px;
        width: 27%;
        height: auto;
    }
    .res-intro-name{
        position:absolute;
        left: 530px;
        right: 140px;
        font-size:1.5vw;

    }
    .res-btn{
        border-radius: 35px;
        padding: 10px 20px 10px 20px;
        margin: 3px;
        font-size: 1.65vw;
        border-color: rgb(104, 253, 233);
        position: absolute;
        top: 223px;
        color:#fff;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        background-color:#181a1d;
    
    }

    .res-btn-btn{
        border-radius: 25px;
        padding: 10px 20px 10px 20px;
        margin: 3px;
        font-size: 1.55vw;
        border-color: #fff;
        position: absolute;
        left: 146px;
        top: 223px;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        color:#fff;
        background-color:#181a1d;
    }
    
    .res-btn:hover{
        background-color: rgb(104, 253, 233);
        color: black;
        cursor: pointer;
    
    }
    .res-btn-btn:hover{
        background-color: #fff;
        color:black;
        cursor: pointer;
    }
    .res-res-intro-name{
        display: none;
    }
    .final-responsive{
        display:none;
    }
    .final-flex-center{
        display: none;
    }
    .cell-responsive-navigation{
        display: none;
    
    }.final-flex-center{
        width: 5%;
        min-height: 10vh;  
        background: #181a1d;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: inline-block;
        font-size: 0.9vw;
        position: absolute;
        left: 37px;
        top: 238px;
    }
    .flex-center{
        display: none;
    }

}
@media screen and (max-width:820px) {
    .back-container{
        position: absolute;
        right:0px;
        left:0px;
        top:0px;
        bottom: 0px;
        
    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display: block;
        position:absolute;
        left: 490px;
        right: 88px;
        font-size:1.5vw;
        
    }
    .res-intro-name{
        display: none;
    }
    .res-res-btn{
        border-radius: 35px;
        padding: 10px 15px 10px 15px;
        margin: 3px;
        font-size: 1.65vw;
        border-color: rgb(104, 253, 233);
        position: absolute;
        top: 200px;
        
        color:#fff;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        background-color:#181a1d;
    
    }

    .res-res-btn-btn{
        border-radius: 25px;
        padding: 10px 20px 10px 20px;
        margin: 3px;
        font-size: 1.55vw;
        border-color: #fff;
        position: absolute;
        left: 120px;
        top: 201px;
        -webkit-transition: background-color 1s ease-out;
        -moz-transition: background-color 1s ease-out;
        -o-transition: background-color 1s ease-out;
        transition: background-color 1s ease-out;
        color:#fff;
        background-color:#181a1d;
    }
    
    .res-res-btn:hover{
        background-color: rgb(104, 253, 233);
        color: black;
        cursor: pointer;
    
    }
    .res-res-btn-btn:hover{
        background-color: #fff;
        color:black;
        cursor: pointer;
    }
    .final-responsive{
        display:none;
    }
    .final-flex-center{
        display: none;
    }
    .cell-responsive-navigation{
        display: none;
    
    }.final-flex-center{
        width: 5%;
        min-height: 10vh;  
        background: #181a1d;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        display: inline-block;
        font-size: 0.9vw;
        position: absolute;
        left: 37px;
        top: 238px;
    }
    .flex-center{
        display: none;
    }



}
@media screen and (max-width:768px) ,(max-width:428px) {

    .final-responsive{
        display:block;

    }
    .hamburger-icon-img{
        width:8%;
        cursor: pointer;
    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .responsive-header-menu-item-link{
        width:200%;
        display:block;
        text-decoration: none;
        color:white;
        font-size: 3vw;
        font-weight: bold;
        font-style: normal;
        line-height: 1.75em;

    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 185px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        left: 245px;
        width: 41%;
        height: auto;
        top: 170px;
    }
    .final-intro-name{
        position: absolute;
        left: 90px;
        right: 40px;
        font-size: 2.5vw;
        top: 540px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 2.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 210px;
    right:315px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 2.5vw;
    border-color: #fff;
    position: absolute;
    left: 350px;
    top: 210px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.125vw;
    position: absolute;
    left: 37px;
    top: 238px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}

}
@media screen and (max-width:414px){ 
    .final-responsive{
        display:block;

    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 130px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 150px;
        left: 95px;
        width: 60%;
        height: auto;
    }
    .final-intro-name{
        position: absolute;
        left: 50px;
        right: 40px;
        font-size: 4vw;
        top: 410px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 240px;
    right:155px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: #fff;
    position: absolute;
    left: 180px;
    top: 240px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.35vw;
    position: absolute;
    left: 20px;
    top: 160px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}



.responsive-navigation{
    width:140px;
    height: 100vh;
    display:block;
    position: absolute;
    top:0%;
    right:100%;
    z-index: 1;
    background-color:black;
    opacity: 0.5; 
    display: none;
    
}
.responsive-navigation ul{ 
    width:80%;
    height:100%;
    display:block;
    padding: 0px;
}

.responsive-navigation ul li{
    width:43%;
    list-style: none;
    padding: 31px 0px 23px 15px;


}
.container{
    width:99%;
    position: absolute;
    top: 30px;
    

}
.responsive-header-menu-item-link{
    width:160%;
    display:block;
    text-decoration: none;
    color:white;
    font-size: 3.5vw;
    font-weight: bold;
    font-style: normal;
    line-height: 1.75em;

}
.responsive-header-menu-item-link:hover{
    color:#fff;
    transition:color .4s ease-in-out;
}
.back-container{
    position: absolute;
    right:0px;
    left:0px;
    top:0px;
    bottom: 0px;
    
}
.hamburger-icon-img{
    width:10%;
    cursor: pointer;
}

}
@media screen and (max-width:360px) {

    .final-responsive{
        display:block;

    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 130px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 150px;
        left: 95px;
        width: 60%;
        height: auto;
    }
    .final-intro-name{
        position: absolute;
        left: 50px;
        right: 40px;
        font-size: 4vw;
        top: 440px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 210px;
    right: 150px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: #fff;
    position: absolute;
    left: 155px;
    top: 210px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.35vw;
    position: absolute;
    left: 20px;
    top: 160px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}

}
@media screen and (max-width:375px) {

    .final-responsive{
        display:block;

    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 130px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 150px;
        left: 95px;
        width: 60%;
        height: auto;
    }
    .final-intro-name{
        position: absolute;
        left: 50px;
        right: 40px;
        font-size: 4vw;
        top: 440px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 210px;
    right:140px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 4.5vw;
    border-color: #fff;
    position: absolute;
    left: 155px;
    top: 210px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.35vw;
    position: absolute;
    left: 20px;
    top: 160px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}

}

@media screen and (max-width:428px) {

    .final-responsive{
        display:block;

    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 130px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 150px;
        left: 95px;
        width: 60%;
        height: auto;
    }
    .final-intro-name{
        position: absolute;
        left: 50px;
        right: 40px;
        font-size: 4vw;
        top: 440px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 3.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 234px;
    right:150px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 3.5vw;
    border-color: #fff;
    position: absolute;
    left: 200px;
    top: 235px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.35vw;
    position: absolute;
    left: 20px;
    top: 160px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}

}
@media screen and (max-width:390px) {

    .final-responsive{
        display:block;

    }
    .first-content{
        display: none;
    
    }
    .res-res-intro-name{
        display:none;
    }
    .res-content{
        display:none;
    }
    
    .header-logo{
        display:none;
    }
    .final-header-logo-p{
        border-radius: 30px;
        margin:0px 50px;
        font-size: 7.5vw;
        position: absolute;
        top:50px;
        color: #fff;
        text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        -webkit-animation: icon3d 200ms 10;
        animation: icon3d 200ms 10;
        color: #fff;
        
    }
    .final-my-pic{
        border-radius: 130px;
        border: 10px solid #3b3a3b;
        box-shadow: 0px 10px 70px black;
        position: absolute;
        top: 150px;
        left: 95px;
        width: 60%;
        height: auto;
    }
    .final-intro-name{
        position: absolute;
        left: 50px;
        right: 40px;
        font-size: 4vw;
        top: 440px;
    }
    .final-intro-aname{
        margin:1px 1px;
        text-align: center;
    }
    .final-Ai-intro{
        text-align: center;
        margin-bottom: 7px;

    }

.final-btn{
    border-radius: 35px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 3.5vw;
    border-color: rgb(104, 253, 233);
    position: absolute;
    top: 210px;
    right:147px;
    color:#fff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color:#181a1d;
}
.final-btn-btn{
    border-radius: 25px;
    padding: 12px 20px 12px 20px;
    margin: 0px;
    font-size: 3.5vw;
    border-color: #fff;
    position: absolute;
    left: 168px;
    top: 210px;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    color:#fff;
    background-color:#181a1d;
}

.final-btn:hover{
    background-color: rgb(104, 253, 233);
    color: black;
    cursor: pointer;

}
.final-btn-btn:hover{
    background-color: #fff;
    color:black;
    cursor: pointer;
}
.final-flex-center{
    width: 5%;
    min-height: 10vh;  
    background: #181a1d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline-block;
    font-size: 1.35vw;
    position: absolute;
    left: 20px;
    top: 160px;
}
.flex-center{
    display: none;
}
.cell-responsive-navigation{
    display: none;

}

}
